.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.radio-container > h4 + div {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 12px 0;
}

.radio-container > h4 {
  margin: 0;
  margin-bottom: 0.5rem;
}